# Dependencies
/node_modules

# Build output
/.next
/out
/build

# Environment variables
.env
.env.*
*.env.local

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# macOS system files
.DS_Store

# Editor directories and files
.vscode/
.idea/
*.swp

# Optional cache directories
/.turbo
/.vercel
.next/
dist/

# TypeScript
*.tsbuildinfo

# ESLint cache
.eslintcache